.about-story {
  padding: 80px 0 95px;
  background: #ffffff;
}

.about-story-container {
  max-width: 1200px;
  margin: auto;

  padding: 0 30px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 75px;
  align-items: center;
}

.story-label {
  display: flex;
  align-items: center;

  gap: 12px;

  margin-bottom: 12px;
}

.story-label span {
  color: #0875b7;

  font-size: 11px;
  font-weight: 700;

  letter-spacing: 4px;
}

.story-label div {
  width: 45px;
  height: 1px;

  background: #79b7d2;
}

.about-story-content h2 {
  margin: 0 0 18px;

  color: #073a67;

  font-size: 39px;
  line-height: 1.08;
}

.about-story-content p {
  color: #647586;

  font-size: 14px;
  line-height: 1.75;
}

.story-btn {
  display: inline-flex;

  align-items: center;

  gap: 15px;

  margin-top: 15px;

  padding: 13px 23px;

  background: linear-gradient(
    90deg,
    #0875bb,
    #08b991
  );

  color: white;

  text-decoration: none;

  border-radius: 4px;
}

.story-image-area {
  position: relative;
}

.story-image-area img {
  width: 82%;
  height: 390px;

  object-fit: cover;

  display: block;
}

.story-features {
  position: absolute;

  right: 0;
  bottom: 10px;

  width: 225px;

  background: #eaf7fc;

  padding: 24px;
}

.story-features div {
  margin: 12px 0;

  color: #0875b7;
}

.story-features span {
  margin-left: 10px;

  color: #294c68;

  font-size: 12px;
  font-weight: 600;
}

@media (max-width: 768px) {

  .about-story-container {
    grid-template-columns: 1fr;

    padding: 0 20px;

    gap: 45px;
  }

  .story-image-area img {
    width: 100%;
  }

  .story-features {
    position: relative;

    width: calc(100% - 30px);

    right: auto;
    bottom: auto;

    margin: -35px 15px 0;
  }
}